<footer class="main-footer style-two">
    <div class="pattern-layer-one" style="background-image: url(images/background/pattern-7.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(images/background/pattern-8.png)"></div>
    <!--Waves end-->
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Column -->
                <div class="big-column col-lg-5 col-md-5 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="footer-widget links-widget">
                                    <h5>AI Platform</h5>
                                    <!-- Social Box -->
                                    <ul class="social-box">
                                        <li><a href="#" class="fab fa-twitter"></a></li>
                                        <li><a href="#" class="fab fa-facebook"></a></li>
                                        <li><a href="#" class="fab fa-tiktok"></a></li>
                                        <li><a href="#" class="far fa-window-maximize"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Quick Links</h5>
                                <ul class="list-link">
                                    <li><a href="">ส่งเรื่องเตือนภัย</a></li>
                                    <!-- <li><a href="">Add Black List </a></li> -->
                                    <li><a href="">Phone Blacklist</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Column -->
                <div class="big-column col-lg-7 col-md-7 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-4 col-md-4 col-sm-12">
                            <div class="footer-widget news-widget">
                                <!-- <h5>Resent Post</h5> -->
                                <h5>Dashboard</h5>
                                <!-- Footer Column -->
                                <ul class="list-link">
                                    <li><a href="">Social Platform</a></li>
                                    <!-- <li><a href="">Add Black List </a></li> -->
                                    <li><a href="">ผู้เสียหายโดยตรง</a></li>
                                </ul>
                                <!-- <div class="widget-content">
                                    <div class="post">
                                        <div class="thumb"><a href="news-detail.html"><img
                                                    src="images/resource/post-thumb-3.jpg" alt=""></a></div>
                                        <h6><a href="news-detail.html">Define World Best IT Solution
                                                Technology</a></h6>
                                        <span class="date">May 01, 2020</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-8 col-md-8 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h5>Contact Us</h5>
                                <ul>
                                    <li>
                                        <span class="icon flaticon-placeholder-2"></span>
                                        128 Chaeng Watthana Road, <br>
                                        Thung Song Hong, Lak Si, Bangkok 10210
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="copyright">Copyright &copy; 2023. All Rights Reserved.</div>
                    </div>
                    <!-- Column -->
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <ul class="footer-nav">
                            <li><a href="about_project.html">ที่มาโครงการ</a></li>
                            <li><a href="https://goo.gl/maps/Rm1hwZs7txvyQtKj8" target="_blank">แผนที่</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>