<header class="main-header header-style-one">

    <!-- Header Top -->
    <div class="header-top-two">
        <div class="outer-container">
            <div class="clearfix">

                <!-- Top Left -->
                <div class="top-left clearfix">
                    <!-- Info List -->
                    <ul class="info-list">
                        <li>DEPARTMENT OF SPECIAL INVESTIGATION<strong><a href="contact.html"></a></strong></li>
                        <li><a href="contact.html"><span class="icon fa fa-location-arrow"></span>128 Chaeng
                                Watthana Road, Thung Song Hong , Lak Si, Bangkok 10210</a></li>
                    </ul>
                </div>

                <!-- Top Right -->
                <div class="top-right pull-right clearfix">
                    <!-- Info List -->
                    <ul class="info-list">
                        <li><a href="mailto:webadmin@dsi.go.th"><span class="icon flaticon-email"></span>
                                webadmin@dsi.go.th</a></li>
                        <li><a href="tel:02-831-9888"><span class="icon flaticon-telephone"></span>
                                02-831-9888</a></li>
                    </ul>
                    <!-- Social Box -->
                </div>
            </div>
        </div>
    </div>

    <!--Header-Upper-->
    <div class="header-upper">
        <div class="auto-container clearfix">

            <div class="pull-left logo-box">
                <div class="logo"></div>
            </div>

            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">
                            <li><a href="index.html">หน้าหลัก</a></li>
                            <li><a href="socialtreat.html">ภัยจากสื่อสังคมออนไลน์</a>
                            </li>
                            <li><a href="search.html">ค้นหาข้อมูลมิจฉาชีพ</a></li>
                            <li><a href="crimetype.html">Keyword เตือนภัย</a></li>
                            <li class="dropdown"><a href="#">Dashboard</a>
                                <ul>
                                    <li><a href="social_board.html">Social Media</a></li>
                                    <li><a href="suffer_board.html">ผู้เสียหายโดยตรง</a></li>
                                </ul>
                            </li>
                            <li><a href="board.html">แจ้งเตือนภัย</a></li>
                        </ul>
                    </div>
                </nav>

                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    <!-- Nav Btn -->
                    <!-- Quote Btn -->
                    <div class="btn-box">
                        <button onclick="logout()" class="theme-btn btn-style-one"><span
                                class="txt">{{value}}</span></button>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">

            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav><!-- Main Menu End-->

                <!-- Main Menu End-->
                <div class="outer-box clearfix">
                    <!-- Nav Btn -->

                </div>

            </div>
        </div>
    </div><!-- End Sticky Menu -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="images/logo.png" alt="" title=""></a></div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
        </nav>
    </div><!-- End Mobile Menu -->

</header>